@import '../Variables.scss';

.TaskItemCard {
    flex: 45%;
    background-color: $background;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.TaskItemCard__container {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TaskItemCard__title {
    font-size: 20px;
    font-weight: 800;
}

.TaskItemCard__date {
    font-size: 13px;
    font-style: italic;
    margin-right: 15px;
}

.TaskItemCard__actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TaskItemCard__pinned,
.TaskItemCard__pinned--active {
    font-size: 20px;
    margin-left: 15px;
    transition: 300ms;
}

.TaskItemCard__pinned--active {
    color: $contrast;
}

.TaskItemCard__pinned:hover {
    color: $contrast;
}

.TaskItemCard__pinned--active:hover {
    color: $contrast-dark;
}

@media only screen and (min-width: 800px) {
    .TaskItemCard {
        flex: 30%;
    }
}